name: Release

on:
  release:
    types: [published]

jobs:
  upload-assets:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            alias-to-driver.yaml
            system-to-driver.yaml
